html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    height: 100vh;
	font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	color: rgb(0, 0, 0);
  }
  h1 {
	font-size: 45px;
  }
  h2 {
	font-size: 38px;
  }
  h3 {
	font-size: 32px;
  }
  h4 {
	font-size: 28px;
  }
  h5 {
	font-size: 24px;
  }
  h6 {
	font-size: 20px;
  }
  p {
	margin-bottom: 15px;
  }
.header {
    text-align: center;
	/* font-weight: bold; */
	font-size: 2em;
}
footer {
	background-color: #f3f3f3;
}
.pg-title {
	padding: 30px;
	text-align: center;
}
.row {
	--bs-gutter-x: 0rem;
	background-color: #f3f3f3;
	padding: 22px;
}
.row a  {
	margin: auto;
	height: auto;
	width: 200px;
	
}



#form-container {
	padding-top: 25px;
}

.container {
	/* display: flex; */
	/* justify-content: center; */
}
.container[radio="seasons"] {
	display: flex;
	justify-content: center;
}
.event-type {
	text-align: center;
	box-shadow: none !important; 
	font-weight: bold;	
}
div.form-group {
	padding: 10px 0px;
}
.event-type[event="UWCB"] {
	background-color: #F2FF00;
}
.event-type[event="UMMA"] {
	background-color: #00A7F4;
}
.event-type[event="UBALLROOM"] {
	background-color: #FF00FF;
}
.event-type[event="UCOMEDY"] {
	background-color: #FF0000;
}
.event-type[event="break"] {
	background-color: black;
}
th[event="returned"] {
	background-color: rgb(147, 236, 14);
}
th[event="missing"] {
	background-color: #FF0000;
}
th[event="blank"] {
	text-align: center;
	margin: auto;
	width: 20px;
	vertical-align: middle;

}
th, td {
	border: solid 1px black;
}
button.btn.btn-primary {
	width: 100%;
}
.links {
	text-decoration: none;
}
.Notice {
	text-align: center;
	
}